* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }

html { -webkit-text-size-adjust: 100%; }
body {
    font-size: 18px;
    line-height: 24px;
    font-family: arial, sans-serif;
    color: #fff;
    background: #002440;
    min-width: 100%;
    -webkit-appearance: none;
    overflow-x: hidden;
}

a { color: #6bccd7; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: none; color:#fff; }
a img { border: 0; }

input, textarea, select { font-size: 12px; font-family: arial, sans-serif; border:0; -webkit-appearance: none; }
textarea { overflow: auto; }
input[type="submit"] { cursor: pointer; -webkit-appearance: none; border-radius: 0; }
input[type="checkbox"] { width: 15px; height: 15px; cursor: pointer;}

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.clearfix { *zoom: 1; }
.clearfix:after { width: 100%; content: ''; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; display: block; }

a,
a img  { transition: color 700ms, background-color 700ms, opacity 700ms; -webkit-transition: color 700ms, background-color 700ms, opacity 700ms; }

a:hover, 
a:hover img { transition: color 200ms, background-color 200ms, opacity 200ms; -webkit-transition: color 200ms, background-color 200ms, opacity 200ms;}

a:hover img { opacity: 0.7; -moz-opacity: 0.7; filter:alpha(opacity=70); }

.hidden { display:none; }

h1, h2, h3, h4, h5, h6 { font-weight:normal; }

h1 { font-size: 20px; line-height: 20px; }
h2 { font-size: 18px; line-height: 18px; }
h3 { font-size: 16px; line-height: 16px; }
h4 { font-size: 14px; line-height: 14px; }
h5 { font-size: 12px; line-height: 12px; }
h6 { font-size: 10px; line-height: 10px; }

.shell { width: 810px; margin: auto; }
.content { position:relative; }

/* image-frame */
.image-frame { display:block; position:absolute; bottom: 0; left: 0; }

/* buttons */
.btn { display: inline-block; *display:inline; *zoom: 1; text-align: center; color:#fff; text-transform: uppercase; font-size:21px; line-height:54px; width:203px; height:54px; 
    font-family: 'franklin_gothic_stdXCn';  background: url(images/btn.png); background-position: 0 0; }
.btn:hover { background: url(images/btn.png); background-position: 0px -54px; }

.btn-secondary { width:212px; height:49px; font-size:24px; line-height:49px; }

/* icons */
.ico { display: inline-block; *display:inline; *zoom: 1; }

.ico-facebook, 
.ico-twitter { width:33px; height:33px; }
.ico-facebook { background: url(images/ico-facebook.png) no-repeat 0 0; }
.ico-twitter { background: url(images/ico-twitter.png) no-repeat 0 0; }

.ico-grand-prize,
.ico-instant-prize { width: 145px; height: 118px; }
.ico-grand-prize { background: url(images/ico-grand-prize.png) no-repeat 0 0; }
.ico-instant-prize { background: url(images/ico-instant-prize.png) no-repeat 0 0; }

.ico-arrow { background: url(images/ico-arrow.png) no-repeat 0 0; width: 78px; height: 56px; }

/* header */
.header { position: relative; padding-top:25px; }
.header h2 { float: right; text-transform: uppercase; color:#86ede4; font-size:24px; line-height:30px; font-family: 'tradegothicboldcondtwenty'; position:relative; top:-20px; padding-right:20px; }

.logo { float:left; width: 141px; height: 57px; text-indent: -4000px; background: url(images/logo.png) no-repeat 0 0; margin-left:45px; }

/* nav */
.nav { float:right; padding-top:10px; padding-right:20px;  }
.nav.visible { display:block!important; }
.nav ul { list-style-type: none; }
.nav li { float:left; padding-left:15px; text-transform: uppercase; font-family: 'tradegothicboldcondtwenty'; font-size:22px; line-height:18px; letter-spacing: -1px; padding: 0 15px 0 20px; 
     background: url(images/nav-sep.png) no-repeat 0 0; }
.nav li:first-child { background: 0; }
.nav a { color:#6bccd7; }
.nav li.current a,
.nav a:hover { color:#ddffff; }

/* intro */
.intro { width:365px; padding:20px 0 0 420px; }
.intro-body { }
.intro-body h2 { text-align: center; color:#fff; font-family: 'tradegothicboldcondtwenty'; text-transform: uppercase; font-size:38px; line-height:42px; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); padding-bottom:4px; }
.intro-body h2 span { font-family: 'tradegothiccondeighteen'; display: block; font-size:25px; line-height:29px; }
.intro-body h3 { font-size:27px; line-height:31px; color:#90d9e1; text-transform: uppercase; font-family: 'tradegothicboldcondtwenty'; letter-spacing: -1px; text-align: center;
    background: url(images/intro-border.png) repeat-x 0 0; padding-top:5px; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);  }
.container.fr .intro-body h2 em {
font-style: normal;
font-size: 16px;
vertical-align: top;
line-height: 24px;}
.intro-body h2 em {
font-style: normal;
font-size: 24px;
vertical-align: top;
line-height: 34px;}

.container.fr .intro { padding: 20px 0 0 398px; width: 383px; }
.container.fr .form-register .form-label {
font-size: 16px;
line-height: 22px;
}
.container.fr .form-register .form-label-primary {
font-size: 33px;
line-height: 37px;
}
.container.fr .intro-body h2 { text-align: center; color:#fff; font-family: 'tradegothicboldcondtwenty'; text-transform: uppercase; font-size:24px; line-height:30px; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); padding-bottom:4px; }
.container.fr .intro-body h2 span { font-family: 'tradegothiccondeighteen'; display: block; font-size:24px; line-height:29px; }
.container.fr .intro-body h3 { font-size:24px; line-height:30px; color:#90d9e1; text-transform: uppercase; font-family: 'tradegothicboldcondtwenty'; letter-spacing: -1px; text-align: center; background: url(images/intro-border.png) repeat-x 0 0; padding-top:5px; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);  }	
.container.fr .intro-foot { padding-top: 276px; text-align: center;}

.intro-actions { padding-top:15px; text-align: center; }
.intro-actions .btn { margin: auto; }
.intro-foot { font-size: 12px;
line-height: 14px;
color: #54c4ca;
text-align: center;
padding-top: 260px;
padding-bottom: 37px; }
.intro-foot a { color:#54c4ca; text-decoration: underline; }
.intro-foot a:hover { color:#fff; text-decoration: none; }

.intro-secondary { padding-top:35px; }
.intro-secondary h2 { font-size:42px; line-height:46px; padding-bottom:2px; }
.intro-secondary h3 { font-size:26px; line-height:30px; color:#fff; background: 0; font-family: 'tradegothiccondeighteen'; letter-spacing: normal; padding-top:0; }
.intro-secondary h3 span { font-family: 'tradegothicboldcondtwenty'; }

/* section */
.section { }
.section-title { text-transform: uppercase; color:#f5fbf8; font-size:48px; line-height:58px; text-align: center; font-family: 'tradegothicboldcondtwenty'; }

.section-body { text-align: center; }
.section-body h4 { font-size:21px; line-height:26px; }

.section-foot { padding-top:20px; text-transform: uppercase; font-family: 'tradegothicboldcondtwenty'; text-align: center; font-size:21px; line-height:25px; letter-spacing: 1px;  }
.section-actions { text-align: center; padding-top:13px; }
.section-actions .btn {  }
.section-actions .btn:first-child { margin-right:50px; }
.section-actions .btn .ico { position:relative; top: 10px; margin-right:15px;  }

/* form-register */
.form-register { padding-top:40px; width:665px; margin: auto; }
.form-register .form-body {  }
.form-register .form-section {  }
.form-register .form-col { float:right; width:311px; }
.form-register .form-col:first-child { float:left; }
.form-register .form-col-size1 { float:left; width:92px; padding-left:17px; }
.form-register .form-col-size1:first-child { padding-left:0; }
.form-register .form-row { padding:10px 0 7px 0; }
.form-register .form-row-secondary { padding-top:48px; }
.form-register .form-label { display: block; text-transform: uppercase; font-size:18px; line-height:22px; color:#fff; font-family: 'tradegothicboldcondtwenty'; padding-bottom:5px; }
.form-register .form-label-primary { font-size:33px; line-height:37px; padding-bottom:8px; }
.form-register .form-label-teritary { padding-bottom: 12px; }
.form-register .form-contols {  }
.form-register .field { text-transform:uppercase; color:#097280; font-family: 'tradegothiccondeighteen'; font-size:16px; line-height:27px; width:277px; height:27px; padding:5px 17px; background:#e6e6e8; border-radius: 0px; }
.form-register .field-primary { font-size:21px; line-height:47px; height:47px; border-radius: 0px; }
.form-register .field-size1 { width:58px; }
.form-register .field-small { width:131px; height:20px; }
.form-register .field-captcha { margin-top:5px; }
.form-register .form-actions { padding:9px 0 0 355px; }
.form-register .form-actions .form-hint { padding-top:7px; }
.form-register .form-hint { font-size:12px; line-height:14px; color:#fff;  }

.form-register .field-error { color:#e63335; border:3px solid #e63335; padding:2px 14px; }
.form-register .form-alert-error { color:#e63335; font-size:14px; line-height:18px; font-weight:bold; }

.form-register .birthdate .ajaxed {
margin-left: -58px;
}

.list-checkboxes { list-style-type: none; padding:34px 0 0 0; }
.list-checkboxes li { display:block; padding-top:17px; }
.list-checkboxes li:first-child { padding-top:0; }

.checkbox { }
.checkbox input { opacity: 0;filter:alpha(opacity=0); }
.checkbox label { font-size:14px; line-height:18px; color:#fff; display: block; overflow: hidden; }
.checkbox label a { color:#fff; text-decoration: underline; }
.checkbox label a:hover { text-decoration: none; color:#097280; }
.checkbox label span { color:#097280; font-family: 'tradegothicboldcondtwenty'; font-size: 16px; text-transform: uppercase;}
.checkbox .custom-checkbox { width:15px; height:15px; background: #e6e7e9; float:left; margin-right:10px; }
.checkbox .custom-checkbox.checked { background: #097280; }

/* form-question */
.form-question { padding-top:27px; width:320px; margin: auto; }
.form-question h2.form-title { font-size:43px; line-height:45px; font-weight:bold; padding-bottom:10px; }
.form-question .form-row { }
.form-question .form-label { float:left; font-size:21px; line-height:37px; letter-spacing: 1px; }
.form-question .form-controls { float:right; }
.form-question .field { padding:5px 10px; width:72px; height:27px; font-size:19px; line-height:27px; background: #e6e7e9; color:#03b1b0; }
.form-question .form-actions { padding-top:40px; }

/* list-prizes */
.list-prizes { list-style-type: none; width:595px; margin: auto; }
.list-prizes li { font-size:14px; line-height:18px; text-align: left; padding-left:160px; padding-bottom:35px; position:relative; }
.list-prizes li .ico { display: block; position:absolute; top: 0; left: 0; }
.list-prizes li .ico-grand-prize { top: 40px; }
.list-prizes li .ico-instant-prize { top: -15px; }
.list-prizes li h3,
.list-prizes li h4 { color:#fff; font-family: 'tradegothicboldcondtwenty'; text-transform: uppercase; padding-bottom:5px; }
.list-prizes li h3 { font-size:28px; line-height:34px; }
.list-prizes li h4 { font-size:24px; line-height:28px; }

/* pages */
.container { background: url(images/inner-bg.jpg) no-repeat center center;  
    -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

.page-rules .container { background: url(images/inner-bg2.jpg) no-repeat center center;  
    -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

.page-home .container {
background: #000016 url(images/bghp-01en.png) no-repeat top center; 
	max-width: 1300px; 
/*-webkit-background-size: contain;
-moz-background-size: contain;
-o-background-size: contain;
background-size: contain;*/
max-width: 1300px;
margin: 0 auto;
}

.page-home .fr { background: #000016 url(images/bghp-01fr.png) no-repeat top center;
	max-width: 1300px; 
/*-webkit-background-size: contain;
-moz-background-size: contain;
-o-background-size: contain;
background-size: contain;*/
max-width: 1300px;
margin: 0 auto;
}

body.page-home, body.page-coming-soon {
background-color: #000016;
height: auto;
}

.page-home .footer {
padding: 25px 0;
width: 100%;
margin: 0 auto;
}

.page-coming-soon .footer {
padding: 25px 0;
width: 100%;
margin: 0 auto;
position: absolute;
bottom: 0;
}

.page-coming-soon .container { background: #000016 url(images/bghp-01en.png) no-repeat top center; 
  
	max-width: 1300px; 
/*-webkit-background-size: contain;
-moz-background-size: contain;
-o-background-size: contain;
background-size: contain;*/
max-width: 1300px;
margin: 0 auto;
height: auto;
 }
 
 .page-coming-soon .container.francais { background: #000016 url(images/bghp-01fr.png) no-repeat top center; 
  
	max-width: 1300px; 
/*-webkit-background-size: contain;
-moz-background-size: contain;
-o-background-size: contain;
background-size: contain;*/
max-width: 1300px;
margin: 0 auto;
height: auto;
 }
 
.page-didnt-win .section { padding-top:90px; }

.page-skill-question .container { background: url(images/inner-bg-2.jpg) no-repeat center center; 
    -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
.page-skill-question .section { padding-top:20px; }
.page-skill-question .section-body { padding-top:10px; }

.page-success .container { background: url(images/inner-bg-2.jpg) no-repeat center center; 
    -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
.page-success .section { padding-top:65px; }
.page-success .section-body { padding-top: 12px; }
.page-success .section-foot { padding-top: 45px; }

.page-sorry .section { padding-top:65px; }
.page-sorry .section-body { padding-top:10px; }
.page-sorry .section-foot { padding-top: 25px; }

.page-submission-error .section { padding-top:150px; }
.page-submission-error .section-body h4 { padding-bottom: 15px; }

.page-age-error .section { padding-top:180px; }

.page-contest-closed .section { padding-top:85px; }
.page-contest-closed .section-body { padding-top:5px; }
.page-contest-closed .section-foot { padding-top:75px; }

.page-rules .section { padding-top:45px; }
.page-rules .section-body h3 { font-size:24px; line-height:30px; text-transform:uppercase; color:#fff; font-family: 'tradegothicboldcondtwenty'; padding-bottom:10px; text-align:left; padding-left:115px; }

.page-rules .section-body {
margin: 0px 47px;
}

.page-prize .section { padding-top:20px; }
.page-prize .section-foot { padding-top:0; }
.page-prize .section-actions { padding-top:25px; }

.page-rules .content p{
font-size: 14px;
line-height: 18px;
text-align: left;
padding-top: 15px;
}

.page-rules h1 {
font-size: 28px;
line-height: 34px;
color: #fff;
font-family: 'tradegothicboldcondtwenty';
text-transform: uppercase;
padding-bottom: 5px;
text-align: left;
}

/* footer */
.footer { background: #fff; padding:25px 0; }

.footer-nav { }
.footer-nav ul { list-style-type: none; text-align: center; }
.footer-nav li { display: inline-block; *display:inline; *zoom:1; padding-left:10px; font-size:13px; line-height:15px; }
.footer-nav a { color:#6bccd7; }
.footer-nav li.current a,
.footer-nav a:hover { color:#333; }

.nav-mobile { display:none; }
.mobile { display: none; }
.placeholder { color: #aaa; }

@media screen and (max-width: 767px) {
    .shell { width: auto; }
    .main { padding-left:15px; padding-right:15px; }
    .container { height:auto; position:relative; }
    .placeholder { color: #aaa; }
    .wrapper { transition: all, 0.2s; -moz-transition: all, 0.2s; -webkit-transition: all, 0.2s; -o-transition: all, 0.2s; margin-top:0; }
    .wrapper.nav-expanded { transition: all, 0.2s; -moz-transition: all, 0.2s; -webkit-transition: all, 0.2s; -o-transition: all, 0.2s; margin-top:129px; }

    .logo { float:left; width: 110px; height: 50px; text-indent: -4000px; background: url(images/logo-mobile.png) no-repeat 0 0; margin-left:10px; }

    .header { padding-top:12px; }
    .header h2 { font-size:12px; line-height:15px; padding-right:0; top: 0; }
    .ico-arrow { background: url(images/ico-arrow.png) no-repeat 0 0; width: 39px; height: 28px; -webkit-background-size:  50% 50%; -moz-background-size:  50% 50%; background-size:  50% 50%; 
        position:relative; top: 10px; }

    /* nav-mobile */
    .nav-mobile { display:block; position:absolute; top: 18px; right: 26px; background: url(images/nav-mobile.png) no-repeat center center; width: 28px; height: 22px; z-index: 9; 
        font-size:0; line-height:0; text-indent:-4000px; }
    .nav-mobile.active { background: url(images/nav-mobile-active.png) no-repeat 0 0; }

    .nav { float:none; display:block; position:fixed; top: 0; left: 0; width:100%; padding:0; display:none; z-index: 10; }
    .nav li { float:none; display:block; padding-left:0; text-transform: none; font-size:16px; line-height:40px; letter-spacing: normal; padding: 0; background: 0; text-align: center; 
        border-bottom:1px solid #015d7e; background: #003d56; }
    .nav li:first-child { background: #003d56; }
    .nav a { color:#b7eae8; display: block; border-bottom:1px solid #001527; margin-bottom:1px; }
    .nav li.current a,
    .nav a:hover { color:#ddffff; }
    .nav li.last { background: #003d56 url(images/nav-mobile-shadow.png) repeat-x bottom center; }
    .nav li.last a { border-bottom:0; }

    /* intro */
    .intro { width:auto; padding:0; margin: auto; padding-top:280px; padding-bottom:20px; }
	
	.container.fr .intro { width:auto; padding:0; margin: auto; padding-top:280px; padding-bottom:20px; }
	.container.fr .intro-foot {
padding-top: 14px;
text-align: center;
}

.container.fr .intro-body h2 {
font-size: 16px;
line-height: 22px;
padding-bottom: 4px;
}



.container.fr .intro-body h3 {
font-size: 16px;
line-height: 25px;
letter-spacing: 0px;
display: block;
width: 250px;
margin: 0 auto;
}


.container.fr .intro-body h2 span {
font-family: 'tradegothiccondeighteen';
display: block;
font-size: 20px;
line-height: 29px;
}

    .intro-body h2 { font-size:30px; line-height:34px; }
    .intro-body h2 span { font-size:19px; line-height:23px; }
    .intro-body h3 { font-size:22px; line-height:25px; font-size: 22px;
line-height: 25px;
width: 283px;
margin: 0 auto;}
    .intro-actions { padding-top:15px; }
    .intro-actions .btn { margin: auto; }
    .intro-foot, .container-fr .intro-foot { padding-top: 15px; padding-bottom: 0px !important; }

    .section-body br { display:none; }
    .section-actions .btn:first-child { margin: 0; margin-bottom:30px; }

    .form-register { padding:15px 0 55px 0; width:auto; }
    .form-register .form-col { float:none; width:auto; display: block; }
    .form-register .form-col:first-child { float:none; }
    .form-register .form-col-size1 { float:left; display:inline; width:82px; padding-left:17px; }
    .form-register .form-col-size1:first-child { padding-left:0; float:left; display:inline; }
    .form-register .form-row { padding:13px 0 10px 0; }
    .form-register .form-row-secondary { padding-top:12px; }
    .form-register .form-row-captcha { text-align: center; }
    .form-register .form-row-captcha .form-label { font-size:16px; }
    .form-register .form-label { font-size:18px; line-height:22px; color:#fff; font-family: 'tradegothicboldcondtwenty'; padding-bottom:5px; }
    .form-register .form-label-primary { font-size:22px; line-height:26px; padding-bottom:4px; }
    .form-register .form-label-teritary { padding-bottom: 6px; font-size:16px; }
    .form-register .field { line-height:23px; width:95%; height:23px; padding:5px 8px; }
    .form-register .field-size1 { width:66px; }
    .form-register .field-small { width:150px; height:20px; }
    .form-register .form-actions { padding:9px 0 0 0; text-align: center; }
    .form-register .form-actions .btn { width:214px; height:44px; margin: auto; }
    .form-register .form-actions .form-hint { display:none; }
    .form-register .form-actions .form-hint.mobile { padding-top:0; display:block; padding-bottom:30px; }
    .form-register .form-actions .form-hint.mobile br { display: none; }

    .form-register .field-error { border:3px solid #e63335; padding:2px 7px; }

    .ico-facebook, 
    .ico-twitter { width:28px; height:28px; -webkit-background-size: 28px 28px; -moz-background-size: 28px 28px; background-size: 28px 28px; }

    .btn { width:214px; height:44px; line-height:44px; font-size:18px; }
    .btn-secondary { font-size:18px; }

    .section { padding-bottom:60px; }
    .section-title { font-size:34px; line-height:38px; padding-bottom:20px; }
    .section-actions .btn .ico { top: 6px; }
    .section-foot { font-size:18px; line-height:22px; padding-top:60px; }
    .section-actions { padding-top:25px; }

    .container { background: url(images/inner-bg-mobile.jpg) no-repeat center center;  
    -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

    .page-home .container { background: url(images/home-image-mobile-2.jpg) no-repeat center 0;  
        -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height: 568px; }

    .page-home .fr { background: url(images/home-image-mobile-2-fr.jpg) no-repeat center 0;  
    -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height: 568px; }

	.page-coming-soon .container { background: url(images/home-image-mobile-2.jpg) no-repeat center 0;  
        -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height: 488px; }
		
	.page-coming-soon .container.francais { background: url(images/home-image-mobile-2-fr.jpg) no-repeat center 0;  
    -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height: 488px; }
    
    .page-success .container { background: url(images/inner-bg-mobile.jpg) no-repeat center center; 
        -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

    .page-skill-question .container { background: url(images/inner-bg-mobile.jpg) no-repeat center center; 
        -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

    .page-home .container { height:auto; }
	
	.page-rules .section-body {
margin: 0px auto;
}

    .page-sorry .section,
    .page-submission-error .section,
    .page-age-error .section,
    .page-contest-closed .section,
    .page-rules .section,
    .page-didnt-win .section,
    .page-prize .section { padding-top:35px; }

    .page-skill-question .section-body,
    .page-success .section-body,
    .page-sorry .section-body,
    .page-contest-closed .section-body { padding-top:0; }

    .page-submission-error .section-body h4 { padding-bottom:20px; }
    .page-rules .section-body h3 { padding:0; text-align: center; }
    .page-prize .section-foot { padding-top:25px; }

    .list-checkboxes { list-style-type: none; padding:10px 0 0 0; }
    .list-checkboxes li { display:block; padding-top:8px; }
    .list-checkboxes li:first-child { padding-top:0; }

    .form-question { width: auto; padding-top:35px; }
    .form-question h2.form-title { font-size:40px; line-height:44px; padding-bottom:35px; }
    .form-question .form-label { float: none; display: block; padding-bottom:5px; }
    .form-question .form-controls { float: none; display: block; }
    .form-question .field { width:265px; margin: auto;  }
    .form-question .form-actions { padding-top:25px; }

    .list-prizes { width:auto; }
    .list-prizes li { text-align: center; padding-left:0; padding-bottom:15px; }
    .list-prizes li .ico { display: block; position:static; margin: auto; }
    .list-prizes li .ico-grand-prize { padding-bottom:10px; }
    .list-prizes li h3 { font-size:22px; line-height:26px; }
    .list-prizes li h4 { font-size:18px; line-height:22px; }

    .footer { padding:5px 0 13px 0; }
    .footer-nav li { padding-left:0; font-size:9px; line-height:12px; }

    .page-home .footer,
    .page-coming-soon .footer { padding-top:5px; }

    .mobile { display: block; }
}

@media only screen and (min-width: 480px) and (max-width: 767px) { 
body.page-home {
background: #002440 !important;
}


.page-rules .content p{
font-size: 12px !important;
line-height: 16px !important;
text-align: left;
padding-top: 15px;
}

.page-rules h1 {
font-size: 28px;
line-height: 34px;
color: #fff;
font-family: 'tradegothicboldcondtwenty';
text-transform: uppercase;
padding-bottom: 5px;
text-align: left;
}

.page-home .container{ background: url(images/home-image-mobile-3.jpg) no-repeat center 0;  
        -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height: 399px !important;
    min-height: inherit !important; }
		
.page-home .container.fr { background: url(images/home-image-mobile-3fr.jpg) no-repeat center 0;  
        -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height: 399px !important;
    min-height: inherit !important; }
	
.page-coming-soon .container { background: url(images/home-image-mobile-3.jpg) no-repeat center 0;  
        -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height: 359px !important;
    min-height: inherit !important; }
	
.page-coming-soon .container.francais { background: url(images/home-image-mobile-3fr.jpg) no-repeat center 0;  
        -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height: 359px !important;
    min-height: inherit !important; }

		
.intro {
    float: right;
    padding: 7px 0 0 !important;
    width: 232px !important;
}

.container.fr .intro {
    float: right;
    padding: 7px 0 0 !important;
    width: 298px !important;
}

.container.fr .intro-foot, .intro-foot {
    text-align: center;
	padding-top: 161px !important;
padding-bottom: 10px !important;
}

.intro-body h2 {
    color: #FFFFFF;
    font-family: 'tradegothicboldcondtwenty';
    font-size: 23px !important;
    line-height: 22px !important;
    padding-bottom: 4px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}


.intro-body h2 span, .intro-body h3  {
    font-size: 18px !important;
    line-height: 23px !important;
}
.intro-body h3  {
    width: 219px;
	margin: 0 auto;
	display: block;
}

.container.fr .intro-body h2{
    font-size: 18px !important;
}

.container.fr .intro-body h3{
    width: 281px;
	margin: 0 auto;
	display: block;
}

.form-register .field {
line-height: 23px;
width: 95%;
}

.form-register .field-small {
line-height: 23px;
max-width: 150px;
}

}


@media only screen and (min-width: 809px) and (max-width: 810px) { 
.section-body {
text-align: center;
margin: 0px 47px;
}

.intro-foot, .page-home .container.fr .intro-foot{
font-size: 12px;
line-height: 14px;
color: #54c4ca;
text-align: center;
padding-top: 110px;
padding-bottom: 37px;
}
.page-home .container {
background: #000016 url(images/bghp-02en.png) no-repeat top center;
max-width: 1300px;
-webkit-background-size: contain;
-moz-background-size: contain;
-o-background-size: contain;
max-width: 1300px;
background-size: contain;
margin: 0 auto;
min-height: 726px !important;
}
.page-home .container.fr {
background: #000016 url(images/bghp-02fr.png) no-repeat top center;
max-width: 1300px;
-webkit-background-size: contain;
-moz-background-size: contain;
-o-background-size: contain;
max-width: 1300px;
background-size: contain;
margin: 0 auto;
min-height: 726px !important;
}
.page-coming-soon .container.francais, .page-coming-soon .container{ 
min-height: 500px;
 }
}
@media only screen and (min-width: 811px) { 
.page-coming-soon .container.francais, .page-coming-soon .container{ 
min-height: 669px;
 }
 }
 
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
.shell {
width: 768px;
margin: auto;
}

.page-home .container {
background: #000016 url(images/bghp-02en.png) no-repeat top center;
max-width: 1300px;
-webkit-background-size: contain;
-moz-background-size: contain;
-o-background-size: contain;
max-width: 1300px;
background-size: contain;
margin: 0 auto;
min-height: 726px !important;
}
.page-home .container.fr {
background: #000016 url(images/bghp-02fr.png) no-repeat top center;
max-width: 1300px;
-webkit-background-size: contain;
-moz-background-size: contain;
-o-background-size: contain;
max-width: 1300px;
background-size: contain;
margin: 0 auto;
min-height: 726px !important;
}

.intro {
width: 365px;
padding: 20px 0 0 380px;
}

.container.fr .intro {
padding: 20px 0 0 368px;
width: 383px;
}

 }