

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body { background-color: #ffffff; color: #666; font: normal normal 100%/1em 'source_sans_proregular', Arial, Helvetica, sans-serif; line-height: 1.4; max-width: 100%; height: 600px; border: none;}
button, input, select, textarea { color: #666; font: normal normal 1em Arial, Helvetica, sans-serif; box-sizing: content-box; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; }
::-moz-selection { background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
img { vertical-align: middle; }
.chromeframe { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }
.text-message h4{line-height: 36px;}
.ir { background-color: transparent; border: 0; overflow: hidden; *text-indent: -9999px; }
.ir:before { content: ""; display: block; width: 0; height: 100%; }
.hidden { display: none !important; visibility: hidden; }
.font1{font-size: 36px;}
.font2{ font-size: 26px;}
.font3{font-size: 20px;}
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.col1{ width: 33%; position: relative; float: left;}
.main-backimage{width: 100%; height: 600px; -webkit-box-shadow:  0px 5px 20px 0px ; box-shadow:  0px 5px 20px 0px ;}
.main-backimage .newsletter-box{height: 80px; width: 420px; position: relative; top: 270px; left: -450px; float: right; padding-top: 40px; padding-left: 20px; font-size: 46px; color:white; text-shadow: 0px 0px 10px #000;}
.header-container{ width: 100%;, height:86px; background-color: #ffffff; position: relative; z-index: 10;}
.main-head{ width: 100%; height: 47px; margin-left: auto; margin-right: auto; margin-bottom: 15px; position: relative;}
.main-head .logo{ width: 310px; height: 100px; background-size: contain; position: relative;float: left; margin-top: 0px; z-index: 10;}
.main-nav{ position: relative;float: left; margin-top: 29px; margin-left: 120px;}
.main-nav .main-nav-item{ margin-right: 5px;}
.main-nav .main-nav-item a{ font-size: 18px; color: purple;}
.main-nav .main-nav-item a:hover{ font-size: 18px; color: purple;}
.main-nav .nav-divider{ height: 34px; width: 2px; border-right: 1px solid purple; position: relative; float: left; margin-right: 20px;}
.main-foot{ width: 100%; height: 180px; margin-top: 100px;}
.main-foot .footer-navbar{ width: 800px; height: 180px; margin-left: auto; margin-right: auto; position: relative; margin-top: 25px; text-align: center;}
.main-foot .footer-navbar .divider{ border-right: 1px solid purple;}
.main-content{ margin-top: 180px;}
.main-content .vertical-spacer{height: 450px; width: 100%;}
#content{}
.auth-page-container{width: 100%;}
.modal-body{ margin-left: auto; margin-right: auto; width: 600px;height: auto !important; max-height:800px !important;}

/* Admin section styling rules*/
.admin-dashboard{ width: 100%; height: 100%; margin-left: auto; margin-right: auto;}
.admin-content{ min-height: 30px; width: 100%; position: relative; float: left; margin-left: auto; margin-right: auto; border: none; padding: 15px;}









